[submodule "vendor/em-rspec"]
	path = vendor/em-rspec
	url = git://github.com/jcoglan/em-rspec.git
[submodule "vendor/protocol"]
	path = vendor/protocol
	url = git://github.com/faye/websocket-protocol-ruby.git
