sudo: false
dist: trusty
language: ruby

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.10
  - 2.2.10
  - 2.3.8
  - 2.4.10
  - 2.5.8
  - 2.6.6
  - 2.7.1
  - jruby-9.0
  - jruby-9.1
  - jruby-9.2

before_install:
  - '[[ "$(ruby --version)" != *"1.9.3"* ]] || gem update --system 2.4.8'

script:
  - bundle exec rspec
